<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Change Password</div>

						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
						</th:block>

						<div class="card-body">
							<form action="updatePassword" method="post">

								<div class="mb-3">
									<label>Old Password</label> <input type="text" name="oldPass"
										class="form-control">
								</div>


								<div class="mb-3">
									<label>New Password</label> <input type="text" name="newPass"
										class="form-control">
								</div>
								<button class="btn btn-primary col-md-12">Change
									Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>



	</section>
</body>
</html>