<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="emp/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="card">
						<div class="card-body">

							<div class="text-center">
								<hr>
								<img src="../img/b4.jpeg" style="width: 300px; height: 200px;">

								<h1>
									Hello Emp<br> Welcome to Banking Management System
								</h1>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>